<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Big D Barbecue" %></title>
    <meta name="author" content="Big D Barbecue" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="Resource-type" content="Document" />

    <%= stylesheet_link_tag "normalize", "main" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
  <script type="text/javascript">
    $(document).ready(function() {
      $.fn.fullpage({
        'anchors': [],
        'menu': '#main-nav',
        'paddingTop': 100,
        'autoScrolling': false
      });
    });
  </script>

</html>
