<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Big D Barbecue" %></title>
    <meta name="author" content="Big D Barbecue" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="Resource-type" content="Document" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon-57.png">

    <%= stylesheet_link_tag "normalize", "main" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

  <!-- Fullpage Script -->
  <script type="text/javascript">
    $(document).ready(function() {
      $.fn.fullpage({
        'anchors': [],
        'menu': '#main-nav',
        'paddingTop': 100,
        'autoScrolling': false
      });
    });
  </script>

  <!-- Google Analytics -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-11313837-7', 'bigdbarbecue.com');
   ga('send', 'pageview');

  </script>

  </body>
</html>
